@import "../Vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 100%;
  height: 100px;
  background: $main-color;
  color: white;

  &__img {
    margin-left: 30px;
    width: 200px;
  }

  &__menu {
    margin-right: 30px;

    & ul {
      display: none;
      position: absolute;
      list-style: none;
      margin: 0px 0px 0px -14px;
      padding: 0px;
      width: 100px;
      text-align: right;
    }

    &:hover ul,
    ul:hover {
      display: block;
    }

    & li {
      margin: 10px 0px;

      & a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--profile {
      display: flex;
      align-items: center;
      cursor: pointer;

      & img {
        margin-right: 8px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}
