.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;

  &__title {
    color: white;
    font-size: 25px;
  }
}

.input {
  padding: 0px 20px;
  margin-bottom: 20px;
  width: 70%;
  height: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  outline: none;
}
